<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Comments</h2>
    </div>
    <div class="panel-body">
        <ul class="media-list">
            {{#each comments}}
            <li class="media">
                <div class="media-body">
                    <strong class="media-heading">{{ name }}</strong>
                    <br/>{{ comment }}
                    <br/><strong class="media-heading">{{ timeago timestamp }}</strong>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
