<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Leave a Comment
		</h3>
	</div>
	<form method="post" action="/comment" enctype="application/x-www-form-urlencoded">
		<div class="panel-body form-horizontal">
			<div class="form-group col-md-12">
				<div class="form-box col-md-10">
    				<p>What is your name?</p>
				    <input type="text" name="nameOP">
                    <p>Tell us what you think.</p>
					<textarea class="form-control" name="commentSection" rows="2"></textarea>
					<br/>
				</div>
				
				<div class="form-group col-md-12">
					<div class="col-md-12 text-right">
						<button type="submit" id="login-btn" class-"btn btn-success" type="button"><i class="fa fa-comments "></i> Post</button>
					</div>
				</div>
				
			</div>
		</form>
	</div>
	